*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffc8c8;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.head{
    color: #ff5858;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-top: 10px;
    height: 50px;
    padding-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 60px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-size : 8vmin;
    align-self: center;
    color: #ff5858;
}
#reset-btn{
    padding: 10px 20px;
    font-size: 3vmin;
    border: none;
    background-color: #ff5858;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 7px;
    font-weight: bold;
}
#new-btn{
    padding: 10px 20px;
    font-size: 3vmin;
    border: none;
    background-color: #ff5858;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 7px;
    font-weight: bold;
}
.msg{
    color: #ff5858;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vmin;
    padding: 0px 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.msg-container{
    height: 25vmin;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top: 20px;
}
.hide{
    display: none;
}